@model ContactViewModel

@{ 
    ViewBag.Title = "Contact Us";
}
<form method="post">
    <label asp-for="Name">Your Name:</label>
    <input asp-for="Name"/>
    <br />
    <label asp-for="Email">Email:</label>
    <input type="email" asp-for="Email"/>
    <br />
    <label asp-for="Subject">Subject:</label>
    <input type="text" asp-for="Subject"/>
    <br />
    <label asp-for="Message">Message:</label>
    <textarea rows="4" asp-for="Message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>